
<% @blogs.each do |blog| %>
    <h2><%= link_to  blog.name, blog_path(blog) %></h2>
    <h4><%= link_to blog.technology_topic.name, technology_topic_path(blog.technology_topic.id) %></h4>
    <p><%= blog.body %></p>
    <hr>

<% end %>